{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modifica Itinerario</title>
    <link rel="stylesheet" href="{% static 'css/changeItinerary.css'%}">
</head>
<body>
   <div class="page-container">
       <nav>
           <a href="{% url 'myTravels' %}">
               <img src="{% static 'images/plane_icon.png' %}" />
               <p>I miei viaggi</p>
           </a>
           <h1>MODIFICA VIAGGIO</h1>
           <a href="{% url 'logout' %}">
               <img src="{% static 'images/logout_icon.png' %}" />
               <p>Log-out</p>
           </a>
       </nav>

       <div class="main">

           <div class="main-sx">

               <h2 style="text-align: center;">MODIFICA DATI VIAGGIO</h2>


                <form class="form_travel" method="post">

                        <div class="textField">
                            <label>Nome viaggio:</label>
                            <input type="text" required>

                        </div>

                        <div class="textField">
                            <label>Destinazione:</label>
                            <input type="text" required>

                        </div>

                        <div class="textField">
                             <label>Data partenza:</label>
                            <input type="text" required>

                        </div>

                        <div class="textField">
                            <label>Data ritorno:</label>
                            <input type="text" required>

                        </div>

                            <!--
                           {% csrf_token %}
                           {{ form.newTripForm }}
                            -->

                </form>

               <div class="button_container2">
                   <input class="apply_button" type="submit" value="APPLICA MODIFICHE">
               </div>

           </div>


           <div class = "main-dx">

               <div class="title_container">
                   <h2>MODIFICA ITINERARIO</h2>
               </div>

               <div class="form_container">

                   <form class="form_itinerary" method="post">



                       <div class="form_field">
                           <div class="input_itinerary">

                               <div class="itinerary_field">
                                   <label>Nome:</label>
                                   <input type="text" required>
                               </div>

                               <div class="itinerary_field">
                                   <label>Luogo:</label>
                                   <input type="text" required>

                               </div>
                               <div class="itinerary_field">
                                   <label>Descrizione:</label>
                                   <input class="description_input" type="text" required>
                               </div>

                               <div class="itinerary_field">
                                   <label>Data:</label>
                                   <input type="text" required>
                               </div>


                           </div>


                            <div class="remove_button_container">
                                   <input class="remove_button" type="submit" value="-">
                               </div>

                       </div>



                   </form>


                   <form class="empty_form_itinerary" method="post">



                       <div class="form_field">
                           <div class="input_itinerary">

                               <div class="itinerary_field">
                                   <label>Nome:</label>
                                   <input type="text" required>
                               </div>

                               <div class="itinerary_field">
                                   <label>Luogo:</label>
                                   <input type="text" required>

                               </div>
                               <div class="itinerary_field">
                                   <label>Descrizione:</label>
                                   <input class="description_input" type="text" required>
                               </div>

                               <div class="itinerary_field">
                                   <label>Data:</label>
                                   <input type="text" required>
                               </div>


                           </div>


                            <div class="add_button_container">
                                   <input class="add_button" type="submit" value="+">
                               </div>

                       </div>



                   </form>



               </div>

               <div class="button_container1">
                   <input class="apply_button" type="submit" value="APPLICA MODIFICHE">
               </div>



           </div>


       </div>


   </div>


</body>
</html>