{% load static %}

<!DOCTYPE html>
<html lang="it">

<html>
    <head>
        <meta charset="UTF-8">
        <title>Travel Details</title>
        <link rel="stylesheet" href="{% static 'css/detailsTravel.css'%}">
    </head>

    <body>
        <div class="page-container">
            <nav>
                <a href="{% url 'myTravels' %}">
                    <img src="{% static 'images/plane_icon.png' %}" />
                    <p>I miei viaggi</p>
                </a>
                <h1>DETTAGLI VIAGGIO</h1>
                <a href="{% url 'logout' %}">
                    <img src="{% static 'images/logout_icon.png' %}" />
                    <p>Log-out</p>
                </a>
            </nav>

            <table>
                <tr>
                    <th>Partecipanti</th>
                    <td>{{ request.user }}</td>
                    <td>Persona</td>
                    <td>Persona</td>
                    <td>Persona</td>
                </tr>
                <tr>
                    <th>Data</th>
                    <td>25/01/2023</td>
                </tr>
                <tr>
                    <th>Destinazione</th>
                    <td>Luogo</td>
                </tr>
                <tr>
                    <th>Itinerario</th>
                    <td>Luogo</td>
                    <td>Luogo</td>
                    <td>Luogo</td>
                    <td>Luogo</td>
                    <td>Luogo</td>
                    <td>Luogo</td>
                    <td>Luogo</td>
                    <td>Luogo</td>
                    <td>Luogo</td>
                </tr>
            </table>

            <div class="button-modify">
                <button type="button" data-dismiss="alert" aria-hidden="true">Modifica Itinerario</button>
            </div>

            <div class="button-invite">
                <button type="button" data-dismiss="alert" aria-hidden="true">Manda Inviti</button>
            </div>

            <div class="main-c">
                Invitato1: Ciao mondo! <br>
                Invitato2: Messaggio standard <br>
                Invitato3: Odio HTML <br>
            </div>

        </div>
    </body>
</html>