{% load static %}

<!DOCTYPE html>
<html lang="it">

<html>
    <head>
        <meta charset="UTF-8">
        <title>Travel Details</title>
        <link rel="stylesheet" href="{% static 'css/detailsTravel.css'%}">
    </head>

    <body>
        <div class="page-container">

            <!-- NAVBAR -->
            <nav>

                <!-- ICONA I MIEI VIAGGI -->
                <a href="{% url 'myTravels' %}">
                    <img src="{% static 'images/plane_icon.png' %}" />
                    <p>I miei viaggi</p>
                </a>

                <!-- NOME PAGINA -->
                <h1>DETTAGLI VIAGGIO</h1>

                <!-- ICONA LOGOUT -->
                <a href="{% url 'logout' %}">
                    <img src="{% static 'images/logout_icon.png' %}" />
                    <p>Log-out</p>
                </a>
            </nav>

            <div class="main-c">

                <!-- TABELLA VIAGGIO -->
                <div class="travel-table-container">
                    <div class="travel-title">
                        <div class="line1"></div>
                        <h1>VIAGGIO PRESSO <span>{{ travel.destination }}</span></h1>
                    </div>

                    <table class="travel-table">
                        <tr>
                            <th>Partecipanti</th>

                            {% for participant in travel.participants.all %}
                            <td>{{ participant.first_name }} {{ participant.last_name }}</td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <th>Data</th>
                            <td class="date-item" colspan="200">{{ travel.start_date }} - {{ travel.end_date }}</td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <tr>
                            <th>Destinazione</th>
                            <td class="destination-item" colspan="200">{{ travel.destination }}</td>
                        </tr>

                        <tr class="itinerary-container">
                            <th>Itinerario</th>

                            {% for stage in stages %}
                            <td colspan="200" class="itinerary-item">
                                <p>{{ stage.name_stage }}</p>
                                <p>{{ stage.description }}</p>
                                <p>{{ stage.date }}</p>
                            </td>
                            {% endfor %}
                    </table>
                </div>

                <div class="line2"></div>

                <!-- PULSANTI DI MOFIFICA E INVITI -->
                <div class="table-buttons">
                    <div class="button-modify">
                        <a href="{% url 'changeItinerary' travel.id %}">
                            <button type="button" data-dismiss="alert" aria-hidden="true">Modifica Itinerario</button>
                        </a>
                    </div>

                    <div class="button-invite">
                        <a href="{% url 'invite'%}">
                            <button type="button" data-dismiss="alert" aria-hidden="true">Manda Inviti</button>
                        </a>
                    </div>

                    <div class="button-expenses">
                        <a href="{% url 'expenses' travel.id %}">
                            <button type="button" name="spese" data-dismiss="alert" aria-hidden="true">Gestisci Spese</button>
                        </a>
                    </div>
                </div>

                <!-- TENTATIVO DI SIMULAZIONE CHAT -->
                <div class="chat-container">

                    <!-- NOME DELLA CHAT -->
                    <div class="menu">
                        <div class="name">Viaggio presso {{ travel.destination }}!</div>
                        <div class="members">
                            <b>Tu</b>
                            {% for participant in travel.participants.all %} {% if participant != request.user %}  {{ participant.first_name }} {{ participant.last_name }}{% endif %} , {% endfor %}
                        </div>
                    </div>

                    <!-- CONTAINER MESSAGGI -->
                    <ol class="chat">
                        {% for comment in comments %}
                        {% if comment.user != request.user %}
                            <!-- MESSAGGIO -->
                            <li class="other">
                                <div class="msg">
                                    <div class="user">{{ comment.user.first_name }} {{ comment.user.last_name }}</div>
                                    <p>{{ comment.content }}</p>
                                </div>
                            </li>
                        {% else %}
                            <!-- MESSAGGIO -->
                            <li class="self">   
                                <div class="msg">
                                    <div class="user">{{ comment.user.first_name }} {{ comment.user.last_name }}</div>
                                    <p>{{ comment.content }}</p>
                                </div>
                            </li>
                        {% endif %}
                        {% endfor %}
                    </ol>

                    <!-- BARRA SOTTO -->
                    <div class="typezone">

                        <!-- BARRA PER SCRIVERE E TASTO INVIO -->
                        <form action="{% url 'addComment' travel.id %}" method="post">
                            {% csrf_token %}
                            {{ commentForm }}
                            <input
                                name="commenta"
                                type="image" 
                                src="{% static 'images/invitation_icon.png' %}" 
                                class="send" 
                                value="" 
                                alt="Send"/>
                        </form>
                </div>
            </div>
        </div>
    </body>
</html>