{% load static %}

<!DOCTYPE html>
<html lang="it">

<html>
    <head>
        <meta charset="UTF-8">
        <title>Gestione Spese</title>
        <link rel="stylesheet" href="{% static 'css/expenses.css'%}">
    </head>

    <body>
        <div class="page-container">

            <!-- NAVBAR -->
            <nav>
                <a href="{% url 'detailsTravel' travel.id %}">
                    <img src="{% static 'images/plane_icon.png' %}" />
                    <p>Torna al viaggio</p>
                </a>

                <!-- NOME PAGINA -->
                <h1>GESTIONE SPESE</h1> 

                <!-- ICONA LOGOUT -->
                <a href="{% url 'logout' %}">
                    <img src="{% static 'images/logout_icon.png' %}" />
                    <p>Log-out</p>
                </a>
            </nav>

            <div class="main-c">

                <!-- TABELLA VIAGGIO -->
                <div class="travel-table-container">
                    <div class="travel-title">
                        <div class="line1"></div>
                        <h1>VIAGGIO PRESSO <span> {{ travel.destination }}</span></h1>
                    </div>

                    <table class="travel-table">
                        <tr>
                            <th>Nome spesa</th>
                            {% for expense in expenses %}
                            <td colspan="200">{{ expense.name }}</td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <th>Costo</th>
                            {% for expense in expenses %}
                            <td colspan="200">{{ expense.price }} €</td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <th>Costo totale</th>
                            <td colspan="200">{{totalExp}} €</td>
                        </tr>

                        <tr>
                            <th>Costo per persona</th>

                            <td colspan="200"><p>{{expForP}} €</p></td>
                    </table>
                </div>

                <div class="line2"></div>
                <h2>MODIFICA SPESE</h2>

                <div class="forms-container">
                    <div class="form-c">
                        <div class="form-title-container">
                            <div class="line3"></div>
                            <h3>NUOVA SPESA</h3>
                        </div>

                        <div class="form-ex">
                            <form class="expenses-form" method="post" action="{% url 'addExpense' travel.id %}">
                                {% csrf_token %}
                                <div class="form-field">
                                    {{ form.as_p }}
                                    <div class="button-container">
                                        <input class="sub-button" type="submit" value="AGGIUNGI SPESA">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="form-c">
                        <div class="form-title-container">
                            <div class="line4"></div>
                           <h3>RIMUOVI SPESA</h3>
                       </div>

                       {% for expense in expenses %}
                       <form class="rem-form" method="post" action="{% url 'removeExpense' travel.id expense.id%}">
                        {% csrf_token %}
                           <div class="rem-form-container">
                               <div class="rem-data">
                                   <p class="rem-name">{{expense.name}}</p>
                                   <p class="rem-div">-</p>
                                   <p class="rem-price">{{expense.price}} €</p>
                               </div>

                                <div class="button-container-dx">
                                    <input class="sub-button" type="submit" value="RIMUOVI SPESA">
                                </div>
                           </div>
                       </form>
                       {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>