{% load static %}

<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Pagina inviti</title>
        <link rel="stylesheet" href="{% static 'css/invite.css'%}">
    </head>
    
    <body>
        <div class="loginFormContainer">
            <div class="my-travels-container">
                <a href="{% url 'myTravels' %}">
                    <img src="{% static 'images/plane_icon.png' %}" />
                    <p>I miei viaggi</p>
                </a>
            </div>

            <h1>Invita ad un viaggio!</h1>

            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" name="send" value="MANDA INVITO">
            </form>
        </div>
    </body>
</html>