{% load static %}

<!DOCTYPE html>
<html lang="it">

<html>

    <head>

        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'css/login.css'%}">

    </head>
    
    <body>

        <div class="loginFormContainer">

            <h1>Login</h1>

            <form method="post" action="">
                {% csrf_token %}
                {{ authForm.as_p}}

                {% for message in messages %}

                    <p id="messages">{{message}}</p>

                {% endfor %}

                <input type="submit" value="Login">

                <div class="signupLink">

                    <a href="{% url 'signup' %}">Non sei registrato? Registrati!</a>

                </div>
            </form>

        </div>

    </body>

</html>