{% load static %}

<!DOCTYPE html>
<html lang="it">

<html>

    <head>

        <meta charset="UTF-8">
        <title>Registrati</title>
        <link rel="stylesheet" href="{% static 'css/signup.css'%}">

    </head>
    
    <body>

        <div class="signupFormContainer">

            <h1>Registrati</h1>

            <form method="POST" action="" class="registration-form">
                {% csrf_token %}

                {{form.as_p}}

                <input type="submit" value="Registrati">

                <div class="signupLink">

                    <a href="{% url 'login' %}">Sei già registrato? Accedi!</a>

                </div>

            </form>

        </div>

    </body>

</html>