{% load static %}

<!DOCTYPE html>
<html lang="it">

<html>

    <head>

        <meta charset="UTF-8">
        <title>Registrati</title>
        <link rel="stylesheet" href="{% static 'css/login.css'%}">

    </head>
    
    <body>

        <div class="loginFormContainer">

            <h1>Registrati</h1>

            <form method="post">

                <div class="textField">

                    <input type="text" required>
                    <label>Nome</label>

                </div>

                <div class="textField">

                    <input type="text" required>
                    <label>Cognome</label>

                </div>

                <div class="textField">

                    <input type="text" required>
                    <label>Email</label>

                </div>

                <div class="textField">

                    <input type="text" required>
                    <label>Password</label>

                </div>

                <input type="submit" value="Registrati">

                <div class="signupLink">

                    <a href="{% url 'login' %}">Sei già registrato? Accedi!</a>

                </div>
            </form>

        </div>

    </body>

</html>