{% load static %}

<!DOCTYPE html>
<html lang="it">

<html>
    <head>
        <meta charset="UTF-8">
        <title>User Home Page</title>
        <link rel="stylesheet" href="{% static 'css/userHomePage.css'%}">
    </head>

    <body>
        <div class="page-container">
            <nav>
                <a href="">
                    <img src="{% static 'images/plane_icon.png' %}" />
                    <p>I miei viaggi</p>
                </a>
                <h1>PAGINA UTENTE</h1>
                <a href="{% url 'logout' %}">
                    <img src="{% static 'images/logout_icon.png' %}" />
                    <p>Log-out</p>
                </a>
            </nav>

            <div class="main">
                <div class="main-sx">
                    <div class="user-informations">
                        <div class="user-informations-title">
                            <img src="{% static 'images/id_card_icon.png' %}" />
                            <h2>INFORMAZIONI UTENTE</h2>
                        </div>

                        <h3>Nome:</h3>
                        <p>{{ request.user }}</p>
                        <h3>Cognome:</h3>
                        <p>Senes</p>
                        <h3>Email:</h3>
                        <p>rc@rc.com</p>
                        <h3>Password:</h3>
                        <p>************</p>

                        <img id="stamp-img" src="{% static 'images/stamp_icon.png' %}" />
                    </div>
                </div>

                <div class="main-c">
                    <form method="post">
                        <h2>CREA UN NUOVO VIAGGIO</h2>

                        <div class="textField">
                            <input type="text" required>
                            <label>Nome viaggio:</label>
                        </div>

                        <div class="textField">
                            <input type="text" required>
                            <label>Destinazione:</label>
                        </div>

                        <div class="textField">
                            <input type="text" required>
                            <label>Itinerario:</label>
                        </div>

                        <div class="textField">
                            <input type="text" required>
                            <label>Date:</label>
                        </div>

                        <!--
                        {% csrf_token %}
                        {{ form.newTripForm }}
                        -->

                        <input type="submit" value="AGGIUNGI VIAGGIO">
                    </form>
                </div>

                <div class="main-dx">
                    <div class="invitations-container">
                        <div class="user-invitations-title">
                            <h2>INVITI</br>RICEVUTI</h2>
                            <img src="{% static 'images/invitation_icon.png' %}" />
                        </div>

                        <!-- INVITO -->
                        <div class="alert alert-info alert-white rounded">
                            <div class="buttons-and-title">
                                <p class="invitation-sender">RichSenes</p>
                                <div class="button-messages-container">
                                    <button type="button" class="accept" data-dismiss="alert" aria-hidden="true">✓</button>
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/invitation_icon.png' %}" />
                                </div>
                            </div>
                            <p class="invitation-message">Invito per un viaggio a <b>Roma</b>!</p>
                        </div>

                        <!-- INVITO -->
                        <div class="alert alert-info alert-white rounded">
                            <div class="buttons-and-title">
                                <p class="invitation-sender">Berlusconi</p>
                                <div class="button-messages-container">
                                    <button type="button" class="accept" data-dismiss="alert" aria-hidden="true">✓</button>
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/invitation_icon.png' %}" />
                                </div>
                            </div>
                            <p class="invitation-message">Invito per un viaggio a <b>Arcore</b>!</p>
                        </div>

                        <!-- INVITO -->
                        <div class="alert alert-info alert-white rounded">
                            <div class="buttons-and-title">
                                <p class="invitation-sender">GiampyTek</p>
                                <div class="button-messages-container">
                                    <button type="button" class="accept" data-dismiss="alert" aria-hidden="true">✓</button>
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                </div>
                                <div class="icon">
                                    <img src="{% static 'images/invitation_icon.png' %}" />
                                </div>
                            </div>
                            <p class="invitation-message">Invito per un viaggio a <b>I limiti dell'evoluto</b>!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>