{% load static %}

<!DOCTYPE html>
<html lang="it">

<html>
    <head>
        <meta charset="UTF-8">
        <title>User Home Page</title>
        <link rel="stylesheet" href="{% static 'css/userHomePage.css'%}">
    </head>

    <body>
        <div class="page-container">
            <nav>
                <a href="{% url 'myTravels' %}">
                    <img src="{% static 'images/plane_icon.png' %}" />
                    <p>I miei viaggi</p>
                </a>
                <h1>PAGINA UTENTE</h1>
                <a href="{% url 'logout' %}">
                    <img src="{% static 'images/logout_icon.png' %}" />
                    <p>Log-out</p>
                </a>
            </nav>

            <div class="main">
                <div class="main-sx">
                    <div class="user-informations">
                        <div class="user-informations-title">
                            <img src="{% static 'images/id_card_icon.png' %}" />
                            <h2>INFORMAZIONI UTENTE</h2>
                        </div>

                        <h3>Username:</h3>
                        <p>{{ request.user }}</p>

                        <h3>Nome:</h3>
                        <p>{{ request.user.first_name}}</p>

                        <h3>Cognome:</h3>
                        <p>{{ request.user.last_name}}</p>

                        <h3>Email:</h3>
                        <p>{{ request.user.email}}</p>

                        <h3>Password:</h3>
                        <p>************</p>

                        <img id="stamp-img" src="{% static 'images/stamp_icon.png' %}" />
                    </div>
                </div>

                <div class="main-c">
                    <form method="post" action="">
                        {% csrf_token %}

                        <h2>CREA UN NUOVO VIAGGIO</h2>
                         
                        {{form.as_p}}
                        
                        <input type="submit" name="create_travel" value="AGGIUNGI VIAGGIO">
                    </form>
                </div>

                <div class="main-dx">
                    <div class="invitations-container">
                        <div class="user-invitations-title">
                            <h2>INVITI</br>RICEVUTI</h2>
                            <img src="{% static 'images/invitation_icon.png' %}" />
                        </div>

                        <div class="invitations-list">
                            <!-- INVITO -->
                            {% if invites %}
                            {% for invite in invites %}
                            <div class="alert alert-info alert-white rounded">
                                <div class="buttons-and-title">
                                    <p class="invitation-sender">{{ invite.sender }}</p>
                                    <div class="button-messages-container">
                                        <form action="{% url 'processInvitation' invite.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" name="reject" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <button type="submit" name="accept" class="accept" data-dismiss="alert" aria-hidden="true">✓</button>
                                        </form>
                                    </div>
                                    <div class="icon">
                                        <img src="{% static 'images/invitation_icon.png' %}" />
                                    </div>
                                </div>
                                <p class="invitation-message">Invito per un viaggio presso <b>{{ invite.travel }}</b>!</p>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div >
                                <h3>Nessun invito da mostrare!</h3>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>