body {
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    height: 100vh;
    overflow: hidden;
}


.my-travels-container {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: dashed 1.5px;
}

.my-travels-container a {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 10px;
    transition: .4s;
}

.my-travels-container a img {
    height: 36px;
    width: 36px;
    margin-bottom: -22px;

    --color: #2980B9;   /* the color of the border */
    --border: 3px;      /* the thickness of the border */
    --offset: 10px;     /* control the movement of the border */
    --gap: 2px;         /* the gap on hover */

    border-radius: 50%;
    cursor: pointer;
    padding: calc(var(--border) + var(--gap));
    border: var(--offset) solid #0000;
    --_m: radial-gradient(50% 50%, #000 calc(100% - var(--offset)),#0000 calc(100% - var(--border)));
    -webkit-mask: var(--_m);
    mask: var(--_m);
    --_g: #0000 calc(99% - var(--border)), var(--color) calc(100% - var(--border)) 99%,#0000;
    --_s: var(--offset);
    --_r: 100% 100% at;

    background:
      radial-gradient(var(--_r) 0    0   ,var(--_g)) calc(100% + var(--_s)) calc(100% + var(--_s)),
      radial-gradient(var(--_r) 100% 0   ,var(--_g)) calc(0%   - var(--_s)) calc(100% + var(--_s)),
      radial-gradient(var(--_r) 0    100%,var(--_g)) calc(100% + var(--_s)) calc(0%   - var(--_s)),
      radial-gradient(var(--_r) 100% 100%,var(--_g)) calc(0%   - var(--_s)) calc(0%   - var(--_s));
    background-size: 50% 50%;
    background-repeat: no-repeat;
    transition: .4s;
}

.my-travels-container a:hover img {
    --_s: 0px
}

.my-travels-container a p {
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
}

.loginFormContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.loginFormContainer h1 {
    text-align: center;
    height: 20px;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

form {
    margin-top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textField, .dateField {
    width: 220px;
    margin-bottom: 30px;
    border: none;
    border-bottom: solid 1px #8e44ad;
}

form p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label {
    width: 220px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
}

.button_container2, .add_button_container {
    position: absolute;
    bottom: 50px;
    margin-top: 20%;
}

form input {
    width: 220px;
    margin-bottom: 0px;
    border: none;
    border-bottom: solid 1px #8e44ad;
}

form select {
    width: 220px;
    margin-bottom: 30px;
    border: none;
    border-bottom: solid 1px #8e44ad;
}

input[type="submit"] {
    margin-bottom: 30px;
    width: 80%;
    height: 50px;
    border: 1px solid;
    background: black;
    border-radius: 20px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: black;
    transition: .5s;
}
