body {
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    height: 100vh;
    overflow: hidden;
}

.page-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 1000px;
    background: white;
    border-radius: 10px;
    border-image: linear-gradient(120deg, #5b117a, #5cb3ec) 30;
    border-width: 10px;
    border-style: solid;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: dashed 1.5px;
}

nav h1 {
    height: 30px;
    width: 40%;
    font-size: 26px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid silver;
}

nav a {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 10px;
    transition: .4s;
}

nav a img {
    height: 36px;
    width: 36px;
    margin-bottom: -22px;

    --color: #2980B9;   /* the color of the border */
    --border: 3px;      /* the thickness of the border */
    --offset: 10px;     /* control the movement of the border */
    --gap: 2px;         /* the gap on hover */

    border-radius: 50%;
    cursor: pointer;
    padding: calc(var(--border) + var(--gap));
    border: var(--offset) solid #0000;
    --_m: radial-gradient(50% 50%, #000 calc(100% - var(--offset)),#0000 calc(100% - var(--border)));
    -webkit-mask: var(--_m);
    mask: var(--_m);
    --_g: #0000 calc(99% - var(--border)), var(--color) calc(100% - var(--border)) 99%,#0000;
    --_s: var(--offset);
    --_r: 100% 100% at;

    background:
        radial-gradient(var(--_r) 0    0   ,var(--_g)) calc(100% + var(--_s)) calc(100% + var(--_s)),
        radial-gradient(var(--_r) 100% 0   ,var(--_g)) calc(0%   - var(--_s)) calc(100% + var(--_s)),
        radial-gradient(var(--_r) 0    100%,var(--_g)) calc(100% + var(--_s)) calc(0%   - var(--_s)),
        radial-gradient(var(--_r) 100% 100%,var(--_g)) calc(0%   - var(--_s)) calc(0%   - var(--_s));
    background-size: 50% 50%;
    background-repeat: no-repeat;
    transition: .4s;
}

nav a:hover img {
    --_s: 0px
}

nav a p {
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
}

.main {
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.main-sx {
    height: 100%;
    width: 50%;
    border-right: dashed 1.5px;
}

.main-sx .user-informations .user-informations-title, .main-dx .invitations-container .user-invitations-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: -5%;
}

.main-sx .user-informations {
    margin-top: 10%;
}

.main-sx .user-informations h2, .main-dx .invitations-container h2  {
    font-size: 14px;
}

.main-sx .user-informations .user-informations-title img {
    height: 40px;
    width: 40px;
    margin-right: 5%;
}

.main-sx h3 {
    text-align: left;
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: underline;
    margin-bottom: -10px;
}

.main-sx p {
    text-align: left;
    color: black;
    font-size: 15px;
}

.main-sx #stamp-img {
    height: 130px;
    width: 130px;
    margin-top: -5px;
}

.main-c {
    height: 100%;
    width: 100%;
    padding-right: 5%;
    border-right: dashed 1.5px;
}

.main-c form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 102%;
    margin-top: 5%;
    margin-left: 10px;
}

.main-c form h2 {
    text-align: center;
    width: 90%;
    font-size: 20px;
    border-image: linear-gradient(120deg, #5b117a, #5cb3ec) 5;
    border-width: 2px;
    border-style: solid;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}

form .textField{
    position: relative;
    border-bottom: 2px solid #ADADAD;
    margin: 12px 0;
}

.textField input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.textField label {
    position: absolute;
    top: 60%;
    left: 2px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.textField span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}

.textField input:focus ~ label,
.textField input:valid ~ label {
    top: -5px;
    color: #2691d9;
}

.textField input:focus ~ span::before,
.textField input:valid ~ span::before {
    width: 100%;
}

input[type="submit"] {
    width: 80%;
    height: 50px;
    border: 4px solid;
    background: black;
    border-radius: 20px;
    margin-top: 30px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: #8e44ad;
    transition: .5s;
}

.main-dx {
    height: 100%;
    width: 50%;
    margin-left: 5%;
    margin-top: 5%;
}

.main-dx .invitations-container img {
    height: 60px;
    width: 60px;
    margin-left: 5%;
}

.main-dx .invitations-container h2 {
    text-align: right;
}

.main-dx .invitations-container .user-invitations-title {
    margin-bottom: 5%;
}

.alert {
    height: 80px;
}

.buttons-and-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: -10px;
}

.button-messages-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.close, .accept {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}

.close:hover,.close:focus, .accept:hover,.accept:focus {
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
}

.close:hover,.close:focus {
    color: red;
}

.accept:hover,.accept:focus {
    color: green;
}

button.close, button.accept {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-white {
    background-image: linear-gradient(to bottom,#FFFFFF,#F9F9F9);
    border-top-color: #d8d8d8;
    border-bottom-color: #bdbdbd;
    border-left-color: #cacaca;
    border-right-color: #cacaca;
    color: black;
    padding-left: 61px;
    position: relative;
}

.alert-white .icon {
    text-align: center;
    width: 40px;
    height: 100%;
    position: absolute;
    top: -1px;
    left: -1px;
    border: 1px solid #bdbdbd;
}

.alert-white .icon:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid #bdbdbd;
    position: absolute;
    border-left: 0;
    border-bottom: 0;
    top: 50%;
    right: -6px;
    margin-top: -5px;
    background: #fff;
}

.alert-white .icon img {
    height: 30px;
    width: 30px;
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.alert-white.alert-info .icon,.alert-white.alert-info .icon:after {
    border-color: black;
    background: #2980b9;
}

.alert .invitation-sender {
    font-size: 15px;
    text-decoration: underline;
}

.alert .invitation-message {
    margin-top: -7px;
    font-size: 13px;
}
